<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style css -->
    <link rel="stylesheet" href="/index.css">
    <!-- Unicons CSS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
    <title>Recipe App</title>
</head>

<body>

    <div id="scroll-progress"></div>
    <nav class="nav">
        <a href="/" class="logo">How To <span>Chef</span> ?</a>
        <form action="/search" method="post" autocomplete="off">
            <i class="uil uil-search search-icon" id="searchIcon"></i>
            <div class="search-box">
                <button type="submit"><i class="uil uil-search search-icon" id="submit_icon"></i></button>
                <input type="text" name="query" placeholder="Search here..." />
                </button>
            </div>
        </form>
    </nav>

    
    <div class="hero-wrapper">
        <div id="slider">
            <figure>
                <img src="/2150762858.jpg" alt>
                <img src="/2150841015.jpg" alt>
                <img src="/2150762644.jpg" alt>
            </figure>
        </div>
        <div class="hero-content">
            <h1>Chef-in-Making: <br/> How to Chef ?</h1>
            <p>Welcome to 'How to Chef ?' - where becoming a culinary expert is as easy as pie, or cheese for our rodent
                friends! Our app offers step-by-step, foolproof recipes that turn even the most amateur cooks into kitchen
                heroes. Join our community and let's cook like pros, rat-approved!</p>
            </div>
        </div>
        
        <form action="/search" method="post">
            <h1 id="card-carousel-title">Quick Search By Country</h1>
            <div id="quick-search-country">
            <div class="wrapper">
                <i id="left" class="fa fa-chevron-left"></i>
                    <ul class="carousel">
                        <button type="submit" name="query" value="Indian" class="form-button">
                            <li class="card">
                                <div class="img"><img
                                        src="https://img.freepik.com/free-vector/illustration-india-flag_53876-27130.jpg?size=626&ext=jpg&ga=GA1.1.1222169770.1702166400&semt=ais"
                                        alt="img" draggable="false"></div>
                                <h2>Indian</h2>
                            </li>
                        </button>
                        <button type="submit" name="query" value="Italian" class="form-button">
                            <li class="card">
                                <div class="img"><img
                                        src="https://upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/800px-Flag_of_Italy.svg.png"
                                        alt="img" draggable="false"></div>
                                <h2>Italian</h2>
                            </li>
                        </button>
                        <button type="submit" name="query" value="French" class="form-button">
                            <li class="card">
                                <div class="img"><img
                                        src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/255px-Flag_of_France.svg.png"
                                        alt="img" draggable="false"></div>
                                <h2>French</h2>
                            </li>
                        </button>
                        <button type="submit" name="query" value="Chinese" class="form-button">
                            <li class="card">
                                <div class="img"><img
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/1280px-Flag_of_the_People%27s_Republic_of_China.svg.png"
                                        alt="img" draggable="false"></div>
                                <h2>Chinese</h2>
                            </li>
                        </button>
                        <button type="submit" name="query" value="Mexican" class="form-button">
                            <li class="card">
                                <div class="img"><img
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Flag_of_Mexico_1823-1864.png/640px-Flag_of_Mexico_1823-1864.png"
                                        alt="img" draggable="false"></div>
                                <h2>Mexican</h2>
                            </li>
                        </button>
                        <button type="submit" name="query" value="Spanish" class="form-button">
                            <li class="card">
                                <div class="img"><img
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/1200px-Bandera_de_Espa%C3%B1a.svg.png"
                                        alt="img" draggable="false"></div>
                                <h2>Spanish</h2>
                            </li>
                        </button>
                    </ul>
                </form>
                <i id="right" class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>

        <div class="container">
            <h1 class="heading-primary">Kitchen Wisdom</h1>
            <div class="accordion">
                <dl>
                    <dt>
                        <a href="#accordion1" aria-expanded="false" aria-controls="accordion1"
                            class="accordion-title accordionTitle js-accordionTrigger">Kitchen hygiene tips </a>
                    </dt>
                    <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                        <p>
                        <ul>
                            <li><b>Wash Hands Thoroughly:</b><br>
                                Wash your hands with soap and warm water for at least 20 seconds before handling food, after
                                touching raw meat or eggs, and after using the restroom.
                            </li>
                            <li>
                                <b>Clean Surfaces Regularly:</b><br>
                                Wipe down countertops, cutting boards, and utensils with hot, soapy water after each
                                use to prevent cross-contamination and the spread of bacteria.
                            </li>
                            <li>
                                <b>Separate Raw and Cooked Foods:</b><br>
                                Use separate cutting boards and utensils for raw meats and ready-to-eat foods to avoid cross-contamination. Store them separately in the fridge.
                            </li>
                            <li>
                                <b>Cook Foods to Safe Temperatures:</b><br>
                                Use a food thermometer to ensure that meat, poultry, seafood, and eggs are cooked to their safe internal temperatures to kill harmful bacteria.
                            </li>
                            <li>
                                <b>Properly Store Food:</b><br>
                                Refrigerate perishable foods promptly and store raw meats on the bottom shelf to prevent drips onto other foods. Use airtight containers for leftovers.
                            </li>
                            <li>
                                <b>Regularly Change Dishcloths and Sponges:</b><br>
                                Replace dishcloths and sponges frequently, ideally daily, or sanitize them by microwaving damp sponges for 1-2 minutes to kill bacteria.
                            </li>
                            <li>
                                <b>Keep Refrigerator Clean:</b><br>
                                Clean spills immediately and regularly remove expired or spoiled foods to maintain a clean and safe refrigerator environment.
                            </li>
                            <li>
                                <b>Use Clean Kitchen Towels:</b><br>
                                Use clean kitchen towels to dry hands and wipe surfaces. Launder them frequently in hot water to eliminate bacteria.
                            </li>
                            <li>
                                <b>Avoid Eating Raw Batter or Dough:</b><br>
                                Refrain from consuming raw batter or dough containing raw eggs or flour to prevent the risk of foodborne illnesses.
                            </li>
                            <li>
                                <b>Practice Good Personal Hygiene:</b><br>
                                Tie back long hair, avoid touching your face, and wear clean clothes while cooking to minimize the risk of contamination.
                            </li>
                        </ul>
                        </p>
                    </dd>
                    <dt>
                        <a href="#accordion2" aria-expanded="false" aria-controls="accordion2"
                            class="accordion-title accordionTitle js-accordionTrigger">
                            Cooking Terminology</a>
                    </dt>
                    <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                        <p>
                            <ul>
                                <li><b>Sauté:</b><br>
                                    To cook food quickly in a small amount of oil or fat over high heat, often stirring continuously. This method is used to lightly brown food while preserving its texture.
                                </li>
                                <li>
                                    <b>Braise:</b><br>
                                    A cooking technique that involves browning meat or vegetables in fat, then slowly cooking them in a covered pot with a small amount of liquid at low heat. This method results in tender and flavorful dishes.
                                </li>
                                <li>
                                    <b>Blanch:</b><br>
                                    Briefly immersing vegetables or fruits in boiling water, then quickly transferring them to ice-cold water to halt the cooking process. Blanching helps retain color, texture, and nutrients.
                                </li>
                                <li>
                                    <b>Deglaze:</b><br>
                                    Adding liquid (such as wine, broth, or vinegar) to a hot pan to loosen and dissolve browned bits of food stuck to the bottom after sautéing or searing. This process adds flavor to sauces or gravies.
                                </li>
                                <li>
                                    <b>Simmer:</b><br>
                                    Cooking food gently over low heat, keeping the liquid just below boiling. It's a slow-cooking method that allows flavors to meld while preventing the food from boiling vigorously.
                                </li>
                                <li>
                                    <b>Grill vs. Broil:</b><br>
                                    Grilling involves cooking food over direct heat, while broiling involves cooking food under high heat from above. Both methods produce a charred or caramelized exterior while keeping the interior moist.
                                </li>
                                <li>
                                    <b>Marinate:</b><br>
                                    Soaking food (usually meat or vegetables) in a seasoned liquid mixture, known as a marinade, to enhance flavor, tenderize, and sometimes preserve it before cooking.
                                </li>
                                <li>
                                    <b>Fold:</b><br>
                                    Gently combining ingredients using a spatula in a lifting and turning motion, ensuring delicate mixtures (like whipped cream or egg whites) are evenly incorporated without deflating them.
                                </li>
                                <li>
                                    <b>Reduce:</b><br>
                                    Boiling a liquid to evaporate water, concentrating flavors and thickening the consistency. This technique is used to create sauces or syrups with intensified taste.
                                </li>
                                <li>
                                    <b>Zest:</b><br>
                                    The outer colored part of citrus fruit peel, often grated or peeled off and used to add citrus flavor to dishes without the bitterness of the white pith.
                                </li>
                            </ul>
                        </p>
                    </dd>
                    <dt>
                        <a href="#accordion3" aria-expanded="false" aria-controls="accordion3"
                            class="accordion-title accordionTitle js-accordionTrigger">
                            Cooking Mistakes to Avoid:
                        </a>
                    </dt>
                    <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                        <p>
                            <ul>
                                <li><b>Overcrowding the Pan:</b><br>
                                    Avoid placing too many ingredients in a small cooking space as it can lead to uneven cooking. Overcrowding prevents proper heat circulation, resulting in steaming instead of browning.
                                </li>
                                <li>
                                    <b>Skipping Preheating the Pan:</b><br>
                                    Always preheat your pan before adding ingredients. Skipping this step can affect the cooking time and texture of the food, causing it to stick or cook unevenly.
                                </li>
                                <li>
                                    <b>Ignoring Knife Sharpness:</b><br>
                                    Using a dull knife can be unsafe and lead to uneven cuts. Maintain a sharp knife for precise cutting and reduce the risk of accidents in the kitchen.
                                </li>
                                <li>
                                    <b>Not Tasting as You Cook:</b><br>
                                    Failing to taste your food as you cook can result in under-seasoned or over-seasoned dishes. Regular tasting allows for adjustments to achieve the desired flavor profile.
                                </li>
                                <li>
                                    <b>Skipping Resting Time for Meat: </b><br>
                                    Allow cooked meat to rest before slicing to retain juices evenly throughout the dish. Cutting meat immediately after cooking can cause moisture loss, resulting in dry meat.
                                </li>
                                <li>
                                    <b>Using Incorrect Measurements:</b><br>
                                    Accurate measurements are crucial in cooking. Using the wrong measurements, especially in baking, can significantly alter the texture and taste of the final dish.
                                </li>
                                <li>
                                    <b>Neglecting Oven Calibration:</b><br>
                                    An improperly calibrated oven can lead to uneven baking or cooking temperatures. Use an oven thermometer to ensure accurate temperature settings.
                                </li>
                                <li>
                                    <b>Ignoring Recipe Instructions:</b><br>
                                    Follow recipes closely, especially for new dishes. Ignoring or altering essential steps may affect the overall outcome of the dish.
                                </li>
                                <li>
                                    <b>Not Letting Ingredients Reach Room Temperature:</b><br>
                                    Some recipes require ingredients to be at room temperature. Neglecting this step can affect the texture and consistency of the final product.
                                </li>
                                <li>
                                    <b>Overlooking Organization and Preparation:</b><br>
                                    Lack of organization and preparation ('mise en place') can lead to chaos while cooking. Prepare ingredients beforehand to streamline the cooking process and avoid mistakes.
                                </li>
                            </ul>
                        </p>
                    </dd>
                </dl>
            </div>
        </div>
        
    <footer>

        <div class="footer">
            <div class="row">
                <a href="#" target="_blank"><i class="fa fa-code"></i></a>
                <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="#" target="_blank"><i class="fa fa-github"></i></a>
                <a href="mailto:#"><i class="fa fa-envelope"></i></a>
                <a onclick="scrolltotop()"><i class="fa fa-arrow-up"></i></a>
            </div>

            <div class="row">
                <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>

            <div class="row">
                <p>Thank you for visting</p>
                Designed and Developed by Devansh Yadav
            </div>
        </div>
    </footer>


    <script>

        // Scroll progress bar
        const scrollProgress = document.getElementById('scroll-progress');
        const height =document.documentElement.scrollHeight - document.documentElement.clientHeight;
        window.addEventListener('scroll', () => {
        const scrollTop =document.body.scrollTop || document.documentElement.scrollTop;
        scrollProgress.style.width = `${(scrollTop / height) * 100}%`;
        });


        // Navigation bar animation
        const nav = document.querySelector(".nav"),
        searchIcon = document.querySelector("#searchIcon");

        searchIcon.addEventListener("click", () => {
            nav.classList.toggle("openSearch");
            nav.classList.remove("openNav");
            if (nav.classList.contains("openSearch")) {
                return searchIcon.classList.replace("uil-search", "uil-times");
            }
            searchIcon.classList.replace("uil-times", "uil-search");
        });


        // Quick Search card carousel animation
        const wrapper = document.querySelector(".wrapper");
        const carousel = document.querySelector(".carousel");
        const firstCardWidth = carousel.querySelector(".card").offsetWidth;
        const arrowBtns = document.querySelectorAll(".wrapper i");
        const carouselChildrens = [...carousel.children];

        let isDragging = false, isAutoPlay = false, startX, startScrollLeft, timeoutId;

        // Get the number of cards that can fit in the carousel at once
        let cardPerView = Math.round(carousel.offsetWidth / firstCardWidth);

        // Insert copies of the last few cards to beginning of carousel for infinite scrolling
        carouselChildrens.slice(-cardPerView).reverse().forEach(card => {
            carousel.insertAdjacentHTML("afterbegin", card.outerHTML);
        });

        // Insert copies of the first few cards to end of carousel for infinite scrolling
        carouselChildrens.slice(0, cardPerView).forEach(card => {
            carousel.insertAdjacentHTML("beforeend", card.outerHTML);
        });

        // Scroll the carousel at appropriate postition to hide first few duplicate cards on Firefox
        carousel.classList.add("no-transition");
        carousel.scrollLeft = carousel.offsetWidth;
        carousel.classList.remove("no-transition");

        // Add event listeners for the arrow buttons to scroll the carousel left and right
        arrowBtns.forEach(btn => {
            btn.addEventListener("click", () => {
                carousel.scrollLeft += btn.id == "left" ? -firstCardWidth : firstCardWidth;
            });
        });

        const dragStart = (e) => {
            isDragging = true;
            carousel.classList.add("dragging");
            // Records the initial cursor and scroll position of the carousel
            startX = e.pageX;
            startScrollLeft = carousel.scrollLeft;
        }

        const dragging = (e) => {
            if (!isDragging) return; // if isDragging is false return from here
            // Updates the scroll position of the carousel based on the cursor movement
            carousel.scrollLeft = startScrollLeft - (e.pageX - startX);
        }

        const dragStop = () => {
            isDragging = false;
            carousel.classList.remove("dragging");
        }

        const infiniteScroll = () => {
            // If the carousel is at the beginning, scroll to the end
            if (carousel.scrollLeft === 0) {
                carousel.classList.add("no-transition");
                carousel.scrollLeft = carousel.scrollWidth - (2 * carousel.offsetWidth);
                carousel.classList.remove("no-transition");
            }
            // If the carousel is at the end, scroll to the beginning
            else if (Math.ceil(carousel.scrollLeft) === carousel.scrollWidth - carousel.offsetWidth) {
                carousel.classList.add("no-transition");
                carousel.scrollLeft = carousel.offsetWidth;
                carousel.classList.remove("no-transition");
            }

            // Clear existing timeout & start autoplay if mouse is not hovering over carousel
            clearTimeout(timeoutId);
            if (!wrapper.matches(":hover")) autoPlay();
        }

        const autoPlay = () => {
            if (window.innerWidth < 800 || !isAutoPlay) return; // Return if window is smaller than 800 or isAutoPlay is false
            // Autoplay the carousel after every 2500 ms
            timeoutId = setTimeout(() => carousel.scrollLeft += firstCardWidth, 2500);
        }
        autoPlay();

        carousel.addEventListener("mousedown", dragStart);
        carousel.addEventListener("mousemove", dragging);
        document.addEventListener("mouseup", dragStop);
        carousel.addEventListener("scroll", infiniteScroll);
        wrapper.addEventListener("mouseenter", () => clearTimeout(timeoutId));
        wrapper.addEventListener("mouseleave", autoPlay);
    

        // Accordian animation
        //uses classList, setAttribute, and querySelectorAll
        //if you want this to work in IE8/9 youll need to polyfill these
        (function () {
            var d = document,
                accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
                setAria,
                setAccordionAria,
                switchAccordion,
                touchSupported = ('ontouchstart' in window),
                pointerSupported = ('pointerdown' in window);

            skipClickDelay = function (e) {
                e.preventDefault();
                e.target.click();
            }

            setAriaAttr = function (el, ariaType, newProperty) {
                el.setAttribute(ariaType, newProperty);
            };
            setAccordionAria = function (el1, el2, expanded) {
                switch (expanded) {
                    case "true":
                        setAriaAttr(el1, 'aria-expanded', 'true');
                        setAriaAttr(el2, 'aria-hidden', 'false');
                        break;
                    case "false":
                        setAriaAttr(el1, 'aria-expanded', 'false');
                        setAriaAttr(el2, 'aria-hidden', 'true');
                        break;
                    default:
                        break;
                }
            };
            //function
            switchAccordion = function (e) {
                console.log("triggered");
                e.preventDefault();
                var thisAnswer = e.target.parentNode.nextElementSibling;
                var thisQuestion = e.target;
                if (thisAnswer.classList.contains('is-collapsed')) {
                    setAccordionAria(thisQuestion, thisAnswer, 'true');
                } else {
                    setAccordionAria(thisQuestion, thisAnswer, 'false');
                }
                thisQuestion.classList.toggle('is-collapsed');
                thisQuestion.classList.toggle('is-expanded');
                thisAnswer.classList.toggle('is-collapsed');
                thisAnswer.classList.toggle('is-expanded');

                thisAnswer.classList.toggle('animateIn');
            };
            for (var i = 0, len = accordionToggles.length; i < len; i++) {
                if (touchSupported) {
                    accordionToggles[i].addEventListener('touchstart', skipClickDelay, false);
                }
                if (pointerSupported) {
                    accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
                }
                accordionToggles[i].addEventListener('click', switchAccordion, false);
            }
        })();



        // Scroll to top
        // When the user clicks on the button, scroll to the top of the document
        function scrolltotop() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    

    </script>
</body>

</html>