/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f0faff;
  cursor: url("/spoon.png"), auto;
}

body a,
body button,
body i {
  cursor: url("/knife.png"), auto;

}

/* Scroll bar */


body {
  --sb-track-color: #fff;
  --sb-thumb-color: #353842;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;

}

#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 2px;
  background: #353842;
  z-index: 10;
}

.nav {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 15px 200px;
  background: #ffcc00;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
}

a {
  color: #353842;
  text-decoration: none;
}

.nav .logo {
  font-size: 22px;
  font-weight: 500;
  padding: 0 10px;
}

.nav .logo:hover {
  border: 1px solid black;
  border-radius: 6px;
}

.logo:hover span {
  color: #f0faff;
  text-decoration: underline;
}

.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .search-icon {
  color: #353842;
  font-size: 20px;
  cursor: pointer;
}


.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box .search-icon {
  position: absolute;
  left: 15px;
  left: 15px;
  color: #ffcc00;
  transform: translateY(-50%);
  top: -32%;
  z-index: 1;
}

.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  border-radius: 6px;
  background-color: #353842;
  padding: 0 15px 0 45px;
  position: relative;
  bottom: 135%;
}



/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }

  .nav .search-box {
    right: 150px;
  }

  .search-box .search-icon {
    top: -25%;
    z-index: 1;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }

  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }

  .search-box .search-icon {
    top: -32%;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {

  .nav {
    padding: 15px 20px;
  }

  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .search-box .search-icon {
    z-index: 1;
    top: 50%;
  }

  .search-box input {
    position: relative;
    bottom: 50%;
  }
}

/* Hero Section */

@keyframes slidy {
  0% {
    left: 0%;
  }

  5% {
    left: 0%;
  }

  10% {
    left: -100%;
  }

  20% {
    left: -100%;
  }

  30% {
    left: -100%;
  }

  40% {
    left: -100%;
  }

  50% {
    left: -100%;
  }

  60% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  80% {
    left: -200%;
  }

  90% {
    left: -200%;
  }

  100% {
    left: -200%;
  }

}


.hero-wrapper {
  display: flex;
  column-gap: 10px;
  height: calc(100vh - 63.6px);
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 560px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.hero-content h1,
p {
  text-align: center;
}

.hero-content p {
  padding-top: 20px;
}

div#slider {
  overflow: hidden;
  height: 560px;
  width: 1000px;
  border-radius: 10px;
}

div#slider figure img {
  float: left;
  height: 560px;
  width: 1000px;
}

div#slider figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 60s slidy infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}


/* For Desktop View */
@media screen and (min-width: 1024px) {}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {}

/* Quick Search By Country Section */

#quick-search-country,
#quick-search-popular-dish {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  /* background-color: red; */
  flex-direction: column;
  /* background: linear-gradient(to left top, #031a9a, #8b53ff); */
}

.form-button {
  padding: 0;
  border: none;
  background: none;
}

#card-carousel-title {
  padding: 40px 0;
  text-align: center;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  /* background-color: aqua; */
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border: 4px solid #55433B;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  padding: 0 0 45px 0;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #F3F3F3;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  border: 4px solid #55433B;

  -webkit-box-shadow: 5px 5px 10px 0px rgba(130, 125, 130, 0.47);
  -moz-box-shadow: 5px 5px 10px 0px rgba(130, 125, 130, 0.47);
  box-shadow: 5px 5px 10px 0px rgba(130, 125, 130, 0.47)
}

.carousel .card:hover {
  /* background-color: #8083FF; */
  background-color: #474554;
  color: #fff;
}

.carousel .card:active {
  background-color: #ffcc00;
}

.carousel .card .img {
  background: #55433B;
  height: 148px;
  width: 210px;
  border-radius: 10px;
}

.card .img img {
  width: 200px;
  height: 140px;
  border-radius: 8px;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}


/* Kitchen Wisdom Section */


.heading-primary {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}

.accordion dl,
.accordion-list {
  border: 1px solid #ddd;
}

.accordion dl:after,
.accordion-list:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
  background-color: #ffcc00;
}

.accordion dd,
.accordion__panel {
  background-color: #f0faff;
  font-size: 1em;
  line-height: 1.5em;
  overflow-y: scroll;

}

.accordion p {
  padding: 1em 2em 1em 2em;
}

.accordion {
  position: relative;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}

.accordionTitle,
.accordion__Heading {
  background-color: #ffcc00;
  text-align: center;
  font-weight: 700;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #55433B;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #ffcc00;
}

.accordionTitle:before,
.accordion__Heading:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  transition: transform 0.3s ease-in-out;
}

.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #55433B;
  color: #ffcc00;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #55433B;
  color: #f0faff;
}

.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 50em;
  transition: max-height 1s;
}

.accordion-content li {
  padding: 10px 20px;
  margin-top: 10px;
}

@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 15em;
    transition: max-height 0.5s;
  }
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}



/* Footer Section */

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.footer {
  background: #ffcc00;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width:720px) {

  .footer {
    text-align: left;
    padding: 5%;
    width: 100vw;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }

}


/* For Desktop View */
@media screen and (min-width: 1024px) {}

/* For Tablet and Mobile View */
@media screen and (max-width: 1024px) {
  .hero-wrapper {
    flex-direction: column;
    height: auto;
  }

  .hero-content {
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    background: url("/background.png");
    background-size: contain;
  }

  .hero-content h1 {
    backdrop-filter: blur(5px);
  }

  .hero-content p {
    padding-top: 20px;
    font-size: 25px;
    font-weight: 500;
    backdrop-filter: blur(5px);
  }

  div#slider {
    display: none;
  }
}